body {
    font-family: Barlow;
    margin: 0;
    padding: 0;
}
/* ======= MENU DESPLEGABLE ======= */
.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #233dff;
  padding: 0.5rem 1rem;
}

#user-menu {
  margin-left: auto; /* empuja a la derecha */
}

.footer{
    margin-bottom: 0;
}