{% extends "layout.html" %}

{% block content %}
<div class="contenido">
    <div class="barra-busqueda">
        <input type="text" placeholder="Barra de búsqueda">
    </div>
    
    <div class="grid-items">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
    </div>
</div>
{% endblock %}
